.DS_Store
*.db-journal
/tech_layoffs_research/queries/archive
tech_layoffs_research/.DS_Store
tech_layoffs_research/queries/.DS_Store
tech_layoffs_research/exports/.DS_Store
tech_layoffs_research/visuals/.DS_Store
/Archive
